*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

img {

  width: 420px;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.arrow-left {
  padding-top: 10px;
}

.arrow-left h1 {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.bus {
  /* padding-top: 10px; */
  /* padding-left: 10px; */
  width: 420px;
  height: 80px;
  color: #333;
  background-color: #fff;
      padding: 10px;
}

li {
  position: relative;
  display: inline-block;
}

.bus li {
  /* width: 20%; */
}

.container {
  margin: 0 auto;
  width: 420px;
  overflow: hidden;
}

h1 {
  font-size: 16px
}

h2 {
  font-size: 12px;
}

nav {
  background-color: #00BBD3;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  height: 80px;
}

.arrow-right {
  position: relative;
  padding-top: 10px;
  font-size: 10px;
  color: #333;
}

span {
  padding-left: 10px;
  padding-right: 10px;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #00BBD3;
    border: 2px solid #00BBD3;
    color: #fff;
    text-align: center;
    font: 24px, Roboto;
}

.bus:hover {
  background-color: #7ABFC8;
}

.number {
  width: 15%;
}

.route {
   width: 40%;
}

.duration {
 width: 25%;
}

.nav {
 width: 20%;
}
